
.status-warning {
    color: red;
    -webkit-animation: flicker 1s infinite;
    text-align:center;
    font-family:'Lato', Arial, Helvetica, sans-serif;
}
  
@-webkit-keyframes flicker {
    0% {opacity:0;}
    5% {opacity:.5;}
    10% {opacity:0;}
    15% {opacity:.5;}
    20% {opacity:0;}
    25% {opacity:5;}
    30% {opacity:0;}
}

.form-layout-1 {
    border: none;
}

.input-group-btn button {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ckbox input[type='checkbox'], .rdiobox input[type='radio'] {
    margin: 0px;
    display: none;
}

.rdiobox span {
    padding-left: 0px;
}

.checkedrow {
    background-color: #f5f5f5;
}
a.disabled {
    pointer-events: none;
}

.link-underline {
    text-decoration: underline;
}

.icon-color-gray {
    color: #868e96;
}

.icon-color-green {
    color: #23BF08;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-defaultt:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active, .show > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.open>.dropdown-menu {
    display: block;
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
.glyphicon-remove:before {
    content: "\F00D";
    cursor: pointer;
}