.form-layout-1 {
    border: none;
}
.custom-card-header, .custom-card-footer {
    background-color: #17A2B8;
    color: white;
}

.custom-card-body {
    background-color: #beeff7;
}

.btn-close-white {
    color: white;
}

.text-color {
    color: #0a0a0a;
}
