.custom-modal-header {
    background-color: #17A2B8;
    color: white;
}

.custom-modal-body, .custom-modal-footer {
    background-color: #beeff7;
}

.btn-close-white {
    color: white;
}

.text-color {
    color: #212529;
}